body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
position: relative;
margin: 60px auto;
width: 600px;
height: 400px;
}
.items {
margin: auto;
height: 100%;
}
.item {
    width: 600px;
    height: 400px;
    display: none;
}
.item_active {
display: block;
}
.img {
width: 600px;
height: 400px;
object-fit: cover;
}

.arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border-radius: 50%; */
    width: 50px;
    color: rgb(143, 198, 138);
    font-size: 40px;
    font-weight: 800;
    height: 100%;
}
.arrow__next {
    right: 0;
}
.arrow:hover {
color: rgb(33, 243, 14);
}
.dots {
position: absolute;
bottom: -30px;
left: 50px;
right: 50px;
display: flex;
justify-content: center;
align-items: center;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(143, 198, 138);
    margin-right: 10px;
    cursor: pointer;
}
.dot__active {
    background-color: rgb(33, 243, 14);;
}
.dot:hover {
background-color: rgb(33, 243, 14);
}